body {
    margin: 0;
    box-sizing: border-box;
    background-image: url("https://i.pinimg.com/originals/05/dc/65/05dc653820232a78fe68a4d85508d293.png");
    background-repeat: no-repeat;
    background-attachment: fixed; /*how to make background stay still */
}

.container {
    display: flex;
    flex-flow: wrap row;
    padding: 50px;
    justify-content: space-around;
}

.card {
    text-align: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 5px 20px;
    width: 149px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.card p {
    text-transform: uppercase;
}

.card__img {
    max-width: 100%;
    height: 25%;
}